# ITR Tool - Quick Temperature Score Calculation
This notebook provides a simple example of the ITR Toolkit. It shows how to use it to calculate the temperature score for companies, aggregate them to a portfolio level to get the portfolio temperature score.

### Getting started
Make sure you are running the notebook with the requirements installed available in the example folder

In [1]:
# !pip install -r requirements.txt

In [1]:
import ITR
from ITR.data.excel import ExcelProvider
from ITR.portfolio_aggregation import PortfolioAggregationMethod
# from ITR.portfolio_coverage_tvp import PortfolioCoverageTVP
from ITR.temperature_score import TemperatureScore
# from ITR.target_validation import TargetProtocol
from ITR.interfaces import ETimeFrames, EScope
import pandas as pd

## Download the dummy data provider
We have prepared dummy data for you to be able to run the tool as it is to familiarise yourself with how it works. To use your own data; please check out to the [Data Requirements section](https://os-c.github.io/ITR/DataRequirements.html) of the technical documentation for more details on data requirements and formatting. 

*The dummy data may include some company names, but the data associated with those company names is completely random and any similarities with real world data is purely coincidental.

In [2]:
import urllib.request
import os

if not os.path.isdir("data"):
    os.mkdir("data")
if not os.path.isfile("data/data_provider_example.xlsx"):
    urllib.request.urlretrieve("https://github.com/os-c/ITR/tree/project-template/examples/data/data_provider_example.xlsx", "data/data_provider_example.xlsx")
if not os.path.isfile("data/example_portfolio.csv"):
    urllib.request.urlretrieve("https://github.com/os-c/ITR/tree/project-template/examples/data/example_portfolio.csv", "data/example_portfolio.csv")

##### Logging
The ITR module uses the Python standard library logging utilities to send log messages. The log level can be changed according to the user's needs.

In [3]:
import logging
root_logger = logging.getLogger()
root_logger.setLevel("INFO")

## Create a data provider
Data providers let you connect to the data source of your choice. In this case we are connecting to Excel as a data provider.

In [4]:
provider = ExcelProvider(path="data/data_provider_example.xlsx")

## Load your portfolio
In our case the portfolio is stored as a CSV file. The portfolio should at least have an "id" (the identifier of the company) and a "proportion" (the weight of the company in your portfolio e.g. the value of the shares you hold) column.

Please see the technical documentation on [Data Legends](https://ofbdabv.github.io/SBTi/Legends.html#) for details on data requirements.

In [5]:
df_portfolio = pd.read_csv("data/example_portfolio.csv", encoding="iso-8859-1", sep=';')

In [6]:
df_portfolio.head(5)

  company_name    company_id  company_isin  investment_value
0   Company AG  US0079031078  US0079031078          35000000
1   Company AH  US00724F1012  US00724F1012          10000000
2   Company AI  FR0000125338  FR0000125338          10000000
3   Company AJ  US17275R1023  US17275R1023          10000000
4   Company AK  CH0198251305  CH0198251305          10000000

To load the data from the data provider, we have to pass a list of IPortfolioCompany instances. The module has a strict [data model](https://ofbdabv.github.io/SBTi/autoapi/SBTi/interfaces/index.html) to convert Pandas Dataframe to the right object types we supplied a utility function.

In [7]:
companies = ITR.utils.dataframe_to_portfolio(df_portfolio)

## Calculate the temperature scores
In the amended portfolio you'll find your original portfolio, amended with the emissions and the temperature score.

In [8]:
temperature_score = TemperatureScore(                  # all available options:
    time_frames=list(ITR.interfaces.ETimeFrames),     # ETimeFrames:  LONG
    scopes=[EScope.S1S2],    
    aggregation_method=PortfolioAggregationMethod.WATS # Options for the aggregation method are WATS, TETS, AOTS, MOTS, EOTS, ECOTS, and ROTS.
)
amended_portfolio = temperature_score.calculate(data_providers=[provider], portfolio=companies)

In [9]:
provider.get_company_data(['NL0000000002'])

[IDataProviderCompany(company_name='Company B', company_id='NL0000000002', isic='nan', ghg_s1s2=85293.34561834631, ghg_s3=115170.74953460274, country='Netherlands', region='Europe', sector='Utilities', industry_level_1='nan', industry_level_2='nan', industry_level_3='nan', industry_level_4='nan', company_revenue=261404023.8424081, company_market_cap=662870771.9690096, company_enterprise_value=1167174030.7255652, company_total_assets=472694.85008635663, company_cash_equivalents=23467516.32994597, cumulative_budget=223.25432408538018, cumulative_trajectory=417.1156859926909, cumulative_target=699.9763453205572, target_probability=0.4285714285714285)]

For every company the tool assigns a score for all the requested timeframe and scope combinations. In this example we used the full set resulting in 9 scores per company as displayed below:

In [10]:
amended_portfolio[['company_name', 'time_frame', 'scope', 'temperature_score']].head(9)

  company_name time_frame scope  temperature_score
0   Company AG       LONG  S1S2               1.95
1   Company AH       LONG  S1S2               2.07
2   Company AI       LONG  S1S2               2.18
3   Company AJ       LONG  S1S2               2.29
4   Company AK       LONG  S1S2               2.50
5   Company AL       LONG  S1S2               2.06
6   Company AM       LONG  S1S2               2.29
7   Company AN       LONG  S1S2               2.13
8   Company AO       LONG  S1S2               2.03

## Calculate the aggregated temperature score
Calculate an aggregated temperature score. This can be done using different aggregation methods. Here we'll use the "Weighted Average Temperature Score" (WATS) by initializing the TemperatureScore Object with PortfolioAggregationMethod.WATS. The temperature scores are calculated per time-frame/scope combination.

In [11]:
aggregated_scores = temperature_score.aggregate_scores(amended_portfolio)

In [29]:
df = pd.DataFrame(aggregated_scores.dict())
df = df[:1][['long']]

In [30]:
# Here we cast a ScoreAggregation object to a Pandas Dataframe for viewing the temp scores in a human readable way
df.applymap(lambda x: round(x['all']['score'], 2))

      long
S1S2  2.09